/* ABOUT SECTION */

#about-section {
  position: relative;
  z-index: 10;
  background-color: #efb447;
  text-align: center;
  padding: 85px 15px 40px;
  min-height: 100vh;
}

#about-section .about-container {
  background: linear-gradient(135deg, #03a678 0%, #035949 100%);
  padding: 5% 7%;
  border-radius: 24px;
  color: #efb447;
}

#about-section .about-container p {
  color: #fff;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about-section {
    padding: 125px 50px 100px;
  }
}