/* FOOTER */

#footer-section {
  position: relative;
  color: #efb447;
  text-align: center;
  overflow: hidden;
  z-index: 50;
  width: 100%;
  margin-top: -20px;
  background: linear-gradient(135deg, #03a678 0%, #035949 100%);
  border-radius: 24px 24px 0 0;
}

#footer-section .container-fluid {
  padding: 10% 0;
}

footer .cp-icon {
  color: #efb447;
}

footer .brand {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 5px;
}

footer hr {
  border: 1px solid;
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer .brand {
    font-size: 48px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #footer-section .container-fluid {
    padding: 7% 165px;
  }
}
