#pay-section {
  text-align: center;
  z-index: 10;
  padding: 85px 15px 60px;
  color: aliceblue;
  background: #efb447;
  overflow-x: hidden;
  min-height: 100vh;
}

#pay-section .pay-container {
  background: linear-gradient(132.18deg, #03a678 0%, #035949 100%);
  height: 100%;
  padding: 5% 7%;
  border-radius: 24px;
}

#pay-section h2 {
  color: #efb447;
}

#pay-section button {
  margin: 10px 0;
  width: 100%;
  background: url("../svg/bhim-upi.svg") no-repeat center;
  padding: 2% 5%;
  background-size: 100px 100px;
  background-color: #efb447;
}

#pay-section .qr-code-container {
  position: relative;
  background-color: #fff;
  height: 20rem;
  padding: 5% 7%;
  border-radius: 12px;
}

#pay-section .qr-code {
  position: relative;
  width: 100%;
  height: 80%;
  background: url("../svg/upi_pay_gopal.svg") no-repeat center;
  background-size: auto;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #pay-section {
    padding: 125px 50px 100px;
  }
}
